@import "tailwindcss";

@theme {
  --color-background: #f1f1f1;
  --color-text: #1D1D1D;
  --color-section-background: #1A3A3F;
  --color-section-text: #FFFFFF;
  --color-button-background: #1A3A3F;
  --color-button-hover: #F8CD16;

  --font-body: 'Poppins-Regular', sans-serif;
  --font-heading: 'Arial-Regular', sans-serif;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../public/fonts/Poppins-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Arial-Regular';
  src: url('../public/fonts/Arial-Regular.otf') format('opentype');
  font-display: swap;
}